* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  padding: 0.5rem 0.75rem;
  border: none;
  margin: 1rem 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

body {
  background-color: #272727;
  color: white;
  font-family: "Baloo 2", cursive;

  section.animation-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;

    section.animation {
      margin-top: 10vh;
      height: 80vh;
      //border: 5px solid red;
      display: flex;
      justify-content: center;
      align-items: center;

      .hero {
        //border: 5px solid green;
        width: 100%;
        height: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    div.slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(to right, rgb(144, 144, 144), rgb(0, 0, 0));
      z-index: -1;
    }
  }

  header {
    nav {
      box-shadow: 0 8px 6px -6px black;
    }
    ul {
      display: flex;
      li {
        padding: 1rem;
        a {
          font-size: 1.15rem;
          transition: all 0.3 ease;
          &:hover {
            color: yellow;
          }
        }
      }
    }
  }

  main {
    section.main-part {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.15rem;
      }

      div.all-inputs {
        form {
          div.grader {
            input,
            select {
              font-size: 1.05rem;
              padding: 0.5rem;
              border: 0.25px solid rgb(39, 39, 21);
              margin: 0.35rem;
              border-radius: 0.25rem;
            }
            input.class-credit {
              width: 100px;
            }
            button.trash-button {
              border: none;
              cursor: pointer;
              background-color: #272727;
              i {
                font-size: 1.25rem;
                pointer-events: none;
                color: white;
              }
            }
          }
        }
      }

      button.plus-btn {
        background-color: #272727;
        border: none;
        width: 2.5rem;
        margin: 3rem 0rem;
        cursor: pointer;
        i {
          font-size: 2.5rem;
          color: white;
        }
      }

      div.result {
        width: 200px;
        height: 200px;
        border: 3px solid red;
        border-radius: 50%;
        text-align: center;
        animation-name: border_color;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        p {
          margin-top: 25px;
        }
        h2#result-gpa {
          font-size: 3.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

.remove {
  transform: scale(0);
  transition: all 0.5s ease;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes border_color {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: limegreen;
  }
  75% {
    border-color: aqua;
  }
}
